#browser {
    --colorTabBar: var(--colorAccentBg);
    --colorFg: {color2} !important;
    --colorFgAlpha: {color2}1A !important;
    --colorFgIntense: {color2} !important;
    --colorFgFaded: {color2} !important;
    --colorFgFadedMore: {color2} !important;
    --colorFgFadedMost: {color2} !important;
    --colorBg: {color8} !important;
    --colorBgAlpha: {color0}e6 !important;
    --colorBgAlphaHeavy: {color0}A6 !important;
    --colorBgAlphaHeavier: {color0}40 !important;
    --colorBgAlphaBlur: {color0}eb !important;
    --colorBgDark: {color4} !important;
    --colorBgDarker: {color0} !important;
    --colorBgLight: {color0} !important;
    --colorBgLighter: {color0} !important;
    --colorBgLightIntense: {color0} !important;
    --colorBgIntense: {color0} !important;
    --colorBgIntenser: {color0} !important;
    --colorBgIntserAlpha: {color0}F2 !important;
    --colorBgInverse: {color0} !important;
    --colorBgInverser: {color0} !important;
    --colorBgFaded: {color0} !important;
    --backgroundBlur: blur(5px) !important;
    --colorHighlightBg: {color4} !important;
    --colorHighlightBgFaded: {color4} !important;
    --colorHighlightBgAlpha: {color4}1A !important;
    --colorHighlightBgDark: {color4} !important;
    --colorHighlightFg: {color0} !important;
    --colorHighlightFgAlpha: {color0}80 !important;
    --colorHighlightFgAlphaHeavy: {color0}40 !important;
    --colorAccentBg: {color0} !important;
    --colorAccentBgAlpha: {color0}8C !important;
    --colorAccentBgAlphaHeavy: {color8}59 !important;
    --colorAccentBgDark: {color0} !important;
    --colorAccentBgDarker: {color0} !important;
    --colorAccentBgFaded: {color0} !important;
    --colorAccentBgFadedMore: {color0} !important;
    --colorAccentBgFadedMost: {color0} !important;
    --colorAccentBorder: {color0} !important;
    --colorAccentBorderDark: {color0} !important;
    --colorAccentFg: {color2} !important;
    --colorAccentFgFaded: {color2} !important;
    --colorAccentFgAlpha: {color2}26 !important;
    --colorAccentFgAlphaHeavy: {color2}0D !important;
    --colorBorder: {color8} !important;
    --colorBorderDisabled: {color8} !important;
    --colorBorderSubtle: {color8} !important;
    --colorBorderIntense: {color8} !important;
    --colorSuccessBg: {color2} !important;
    --colorSuccessBgAlpha: {color0}1A !important;
    --colorSuccessFg: {color0} !important;
    --colorWarningBg: {color3} !important;
    --colorWarningBgAlpha: {color3}1A !important;
    --colorWarningFg: {color0} !important;
    --colorErrorBg: {color1} !important;
    --colorErrorBgAlpha: {color1}1A !important;
    --colorErrorFg: {color0} !important;
    --colorWindowBg: {color8} !important;
    --colorWindowFg: {color2} !important;
    --radiusRound: 100px !important;
    --radiusRounded: 8px !important;
    --radiusRoundedLess: 8px !important;
    --radius: 8px !important;
    --radiusHalf: 4px !important;
    --radiusCap: 8px !important;
    --scrollbarWidth: 16px !important;
    --uiZoomLevel: 1 !important;
    background-image: unset !important;
}

